<div class="album text-muted">
  <div class="container">
<%= source_helper("alert alert-warning") %>
<%= link_to "Create new item", new_info_path if logged_in?(:site_admin)%>
    <div class="row <%='sortable' if logged_in?(:site_admin)%>" >


<%= render partial: 'info_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
